In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data = pd.read_csv('bank.csv')

In [10]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [11]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
enc = LabelEncoder()

In [14]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [21]:
# importing categorical to numerical
data.job = enc.fit_transform(data.job)
data.marital = enc.fit_transform(data.marital)
data.education = enc.fit_transform(data.education)
data.default = enc.fit_transform(data.default)
data.housing = enc.fit_transform(data.housing)
data.loan = enc.fit_transform(data.loan)
data.contact = enc.fit_transform(data.contact)
data.month = enc.fit_transform(data.month)
data.poutcome = enc.fit_transform(data.poutcome)
data.deposit = enc.fit_transform(data.deposit)

In [22]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1
5,42,4,2,2,0,0,1,1,2,5,8,562,2,-1,0,3,1
6,56,4,1,2,0,830,1,1,2,6,8,1201,1,-1,0,3,1
7,60,5,0,1,0,545,1,0,2,6,8,1030,1,-1,0,3,1
8,37,9,1,1,0,1,1,0,2,6,8,608,1,-1,0,3,1
9,28,7,2,1,0,5090,1,0,2,6,8,1297,3,-1,0,3,1
10,38,0,2,1,0,100,1,0,2,7,8,786,1,-1,0,3,1
11,30,1,1,1,0,309,1,0,2,7,8,1574,2,-1,0,3,1
12,29,4,1,2,0,199,1,1,2,7,8,1689,4,-1,0,3,1
13,46,1,2,2,0,460,1,0,2,7,8,1102,2,-1,0,3,1
14,31,9,2,2,0,703,1,0,2,8,8,943,2,-1,0,3,1
15,35,4,0,2,0,3837,1,0,2,8,8,1084,1,-1,0,3,1
16,32,1,2,0,0,611,1,0,2,8,8,541,3,-1,0,3,1
17,49,7,1,1,0,-8,1,0,2,8,8,1119,1,-1,0,3,1
18,41,0,1,1,0,55,1,0,2,8,8,1120,2,-1,0,3,1
19,49,0,0,1,0,168,1,1,2,8,8,513,1,-1,0,3,1
20,28,0,0,1,0,785,1,0,2,8,8,442,2,-1,0,3,1
21,43,4,2,2,0,2067,1,0,2,8,8,756,1,-1,0,3,1
22,43,4,0,2,0,388,1,0,2,8,8,2087,2,-1,0,3,1
23,43,1,1,0,0,-192,1,0,2,8,8,1120,2,-1,0,3,1
24,37,10,2,1,0,381,1,0,2,8,8,985,2,-1,0,3,1
25,35,1,2,1,0,40,1,0,2,9,8,617,4,-1,0,3,1
26,31,9,2,2,0,22,1,0,2,9,8,483,3,-1,0,3,1
27,43,1,2,1,0,3,1,0,2,9,8,929,3,-1,0,3,1
28,31,0,1,1,0,307,1,0,2,9,8,538,1,-1,0,3,1
29,28,1,2,1,0,759,1,0,2,9,8,710,1,-1,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,32,1,1,1,0,-325,1,1,2,21,8,171,1,-1,0,3,0
11133,37,4,1,2,0,1594,1,0,0,17,0,110,1,260,5,0,0
11134,58,6,1,2,0,2596,0,0,1,18,9,15,2,-1,0,3,0
11135,36,7,0,1,0,115,0,0,2,6,6,201,1,-1,0,3,0
11136,31,4,2,2,0,0,1,0,0,8,11,76,1,-1,0,3,0
11137,49,5,1,3,0,247,0,0,2,15,8,213,2,-1,0,3,0
11138,32,9,1,1,0,235,1,0,1,28,1,688,6,-1,0,3,0
11139,30,6,2,2,0,2593,0,0,2,27,8,662,7,-1,0,3,0
11140,55,7,0,1,0,2166,1,0,2,28,8,23,17,-1,0,3,0
11141,32,1,1,1,0,130,1,0,0,6,8,302,2,-1,0,3,0
11142,52,0,0,1,0,48,0,1,0,17,9,591,1,-1,0,3,0
11143,38,10,0,1,0,189,1,1,0,21,5,105,2,-1,0,3,0
11144,60,5,1,1,0,0,1,0,2,15,8,229,1,-1,0,3,0
11145,60,5,0,2,0,-134,0,0,0,12,8,243,1,271,4,0,0
11146,30,0,1,1,1,23,0,1,0,4,3,149,2,-1,0,3,0
11147,44,10,1,1,0,0,0,0,0,21,9,175,4,-1,0,3,0
11148,32,1,1,1,0,1,1,0,2,8,8,102,1,-1,0,3,0
11149,46,2,1,1,0,3317,0,0,0,19,9,231,2,-1,0,3,0
11150,34,4,1,1,0,355,0,0,0,21,1,314,3,-1,0,3,0
11151,40,4,1,2,0,917,1,0,2,20,8,292,1,-1,0,3,0
11152,34,3,1,1,0,390,1,0,0,15,5,659,3,-1,0,3,0
11153,43,0,2,1,0,35,0,0,1,9,9,208,1,-1,0,3,0
11154,52,9,1,2,0,523,1,1,0,8,5,113,1,-1,0,3,0
11155,35,1,1,1,0,80,1,1,0,21,9,38,2,172,2,0,0
11156,34,1,2,1,0,-72,1,0,0,7,5,273,5,-1,0,3,0
11157,33,1,2,0,0,1,1,0,0,20,0,257,1,-1,0,3,0
11158,39,7,1,1,0,733,0,0,2,16,6,83,4,-1,0,3,0
11159,32,9,2,1,0,29,0,0,0,19,1,156,2,-1,0,3,0
11160,43,9,1,1,0,0,0,1,0,8,8,9,2,172,5,0,0
11161,34,9,1,1,0,0,0,0,0,9,5,628,1,-1,0,3,0

In [23]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [24]:
data.shape

(11162, 17)

In [65]:
y = data.deposit
x = data.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]]

In [66]:
from sklearn.model_selection import train_test_split

In [77]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30,random_state=10000)

In [78]:
x_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
9345,31,7,1,1,0,1167,1,1,0,20,9,279,1,-1,0,3
480,27,8,1,1,0,119,1,0,0,16,5,781,2,-1,0,3
3645,48,4,2,2,0,86,0,0,0,28,6,281,3,186,6,1
3085,39,4,1,2,0,2939,0,0,0,15,4,348,2,-1,0,3
10422,46,7,1,1,0,-522,1,0,0,31,5,61,2,-1,0,3

In [79]:
y_train.head()

9345     0
480      1
3645     1
3085     1
10422    0
Name: deposit, dtype: int64

In [80]:
from sklearn.tree import DecisionTreeRegressor

In [81]:
model = DecisionTreeRegressor()

In [82]:
model.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [83]:
predict = model.predict(x_test)

In [84]:
y_test

6231     0
9615     0
3404     1
7135     0
6069     0
9253     0
4017     1
4642     1
6068     0
9490     0
7400     0
3213     1
770      1
4694     1
5810     0
1431     1
7096     0
10128    0
10998    0
11087    0
7777     0
2475     1
9691     0
5568     0
2805     1
10847    0
7311     0
5263     1
4806     1
626      1
        ..
8573     0
5415     0
10730    0
9239     0
2721     1
472      1
3172     1
7767     0
1995     1
10240    0
5499     0
1183     1
9746     0
1169     1
1903     1
3166     1
6132     0
9633     0
5294     0
7951     0
7382     0
3384     1
7133     0
9305     0
5606     0
8137     0
4105     1
5998     0
2915     1
10624    0
Name: deposit, Length: 3349, dtype: int64

In [88]:
predict

array([0., 0., 0., ..., 1., 1., 0.])

In [85]:
from sklearn.metrics import r2_score

In [86]:
r2_score(y_test,predict)

0.07988588700169341