In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('hmeq.csv')

In [4]:
data

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN
5,1,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,37.113614
6,1,1800,48649.0,57037.0,HomeImp,Other,5.0,3.0,2.0,77.100000,1.0,17.0,NaN
7,1,1800,28502.0,43034.0,HomeImp,Other,11.0,0.0,0.0,88.766030,0.0,8.0,36.884894
8,1,2000,32700.0,46740.0,HomeImp,Other,3.0,0.0,2.0,216.933333,1.0,12.0,NaN
9,1,2000,NaN,62250.0,HomeImp,Sales,16.0,0.0,0.0,115.800000,0.0,13.0,NaN
10,1,2000,22608.0,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN
11,1,2000,20627.0,29800.0,HomeImp,Office,11.0,0.0,1.0,122.533333,1.0,9.0,NaN
12,1,2000,45000.0,55000.0,HomeImp,Other,3.0,0.0,0.0,86.066667,2.0,25.0,NaN
13,0,2000,64536.0,87400.0,NaN,Mgr,2.5,0.0,0.0,147.133333,0.0,24.0,NaN
14,1,2100,71000.0,83850.0,HomeImp,Other,8.0,0.0,1.0,123.000000,0.0,16.0,NaN
15,1,2200,24280.0,34687.0,HomeImp,Other,NaN,0.0,1.0,300.866667,0.0,8.0,NaN
16,1,2200,90957.0,102600.0,HomeImp,Mgr,7.0,2.0,6.0,122.900000,1.0,22.0,NaN
17,1,2200,23030.0,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,3.711312
18,1,2300,28192.0,40150.0,HomeImp,Other,4.5,0.0,0.0,54.600000,1.0,16.0,NaN
19,0,2300,102370.0,120953.0,HomeImp,Office,2.0,0.0,0.0,90.992533,0.0,13.0,31.588503
20,1,2300,37626.0,46200.0,HomeImp,Other,3.0,0.0,1.0,122.266667,1.0,14.0,NaN
21,1,2400,50000.0,73395.0,HomeImp,ProfExe,5.0,1.0,0.0,NaN,1.0,0.0,NaN
22,1,2400,28000.0,40800.0,HomeImp,Mgr,12.0,0.0,0.0,67.200000,2.0,22.0,NaN
23,1,2400,18000.0,NaN,HomeImp,Mgr,22.0,NaN,2.0,121.733333,0.0,10.0,NaN
24,1,2400,NaN,17180.0,HomeImp,Other,NaN,0.0,0.0,14.566667,3.0,4.0,NaN
25,1,2400,34863.0,47471.0,HomeImp,Mgr,12.0,0.0,0.0,70.491080,1.0,21.0,38.263601
26,0,2400,98449.0,117195.0,HomeImp,Office,4.0,0.0,0.0,93.811775,0.0,13.0,29.681827
27,1,2500,15000.0,20200.0,HomeImp,NaN,18.0,0.0,0.0,136.066667,1.0,19.0,NaN
28,1,2500,25116.0,36350.0,HomeImp,Other,10.0,1.0,2.0,276.966667,0.0,9.0,NaN
29,0,2500,7229.0,44516.0,HomeImp,Self,NaN,0.0,0.0,208.000000,0.0,12.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,1,72300,NaN,85000.0,DebtCon,Other,1.0,0.0,0.0,117.166667,9.0,23.0,NaN
5931,1,75400,NaN,89609.0,DebtCon,Other,1.0,0.0,0.0,115.763534,9.0,23.0,41.105569
5932,1,76500,38206.0,90000.0,DebtCon,Other,12.0,0.0,0.0,134.900000,0.0,26.0,NaN
5933,1,77200,83962.0,215000.0,HomeImp,Self,8.0,1.0,2.0,71.533132,3.0,14.0,NaN
5934,1,77400,87651.0,224630.0,HomeImp,Self,9.0,0.0,2.0,73.469630,3.0,13.0,40.929793
5935,0,78400,13900.0,102910.0,HomeImp,NaN,27.0,0.0,1.0,138.000000,0.0,14.0,NaN
5936,0,78700,22762.0,102997.0,HomeImp,NaN,25.0,0.0,0.0,146.632842,0.0,13.0,34.300202
5937,0,79100,23553.0,103807.0,HomeImp,NaN,25.0,0.0,1.0,142.193458,0.0,13.0,31.469937
5938,0,79200,21694.0,103143.0,HomeImp,NaN,26.0,0.0,1.0,139.938999,0.0,14.0,31.333685
5939,0,79200,22940.0,110114.0,HomeImp,NaN,28.0,0.0,1.0,144.616126,0.0,13.0,32.366512
5940,0,79900,18363.0,109675.0,HomeImp,NaN,27.0,0.0,1.0,132.766724,0.0,13.0,31.642335
5941,0,80300,20370.0,109127.0,HomeImp,NaN,27.0,0.0,1.0,142.174300,0.0,13.0,33.468763
5942,0,80600,16337.0,109370.0,HomeImp,NaN,28.0,0.0,0.0,137.439991,0.0,14.0,34.202005
5943,0,81200,18834.0,108355.0,HomeImp,NaN,28.0,0.0,0.0,139.136329,0.0,14.0,34.042153
5944,0,81400,22344.0,108280.0,HomeImp,NaN,25.0,0.0,0.0,148.114994,0.0,14.0,34.285741
5945,0,81400,21041.0,111304.0,HomeImp,NaN,26.0,0.0,0.0,146.322783,0.0,14.0,32.131373
5946,0,82200,16097.0,111287.0,HomeImp,NaN,26.0,0.0,0.0,142.119979,0.0,14.0,31.743472
5947,0,82200,23197.0,110481.0,HomeImp,NaN,26.0,0.0,1.0,127.767588,0.0,14.0,30.942695
5948,0,86000,47355.0,85000.0,DebtCon,Other,15.0,0.0,0.0,210.966667,0.0,16.0,NaN
5949,0,87000,48980.0,89764.0,DebtCon,Other,14.0,0.0,0.0,209.043117,0.0,16.0,36.088037
5950,0,87500,55938.0,86794.0,DebtCon,Other,15.0,0.0,0.0,223.881040,0.0,16.0,36.753653
5951,0,88300,54004.0,94838.0,DebtCon,Other,16.0,0.0,0.0,193.702051,0.0,15.0,36.262691
5952,0,88500,50240.0,94687.0,DebtCon,Other,16.0,0.0,0.0,214.426206,0.0,16.0,34.751158
5953,0,88800,53307.0,94058.0,DebtCon,Other,16.0,0.0,0.0,218.304978,0.0,15.0,34.242465
5954,0,88900,48919.0,93371.0,DebtCon,Other,15.0,0.0,1.0,205.650159,0.0,15.0,34.818262
5955,0,88900,57264.0,90185.0,DebtCon,Other,16.0,0.0,0.0,221.808718,0.0,16.0,36.112347
5956,0,89000,54576.0,92937.0,DebtCon,Other,16.0,0.0,0.0,208.692070,0.0,15.0,35.859971
5957,0,89200,54045.0,92924.0,DebtCon,Other,15.0,0.0,0.0,212.279697,0.0,15.0,35.556590
5958,0,89800,50370.0,91861.0,DebtCon,Other,14.0,0.0,0.0,213.892709,0.0,16.0,34.340882
5959,0,89900,48811.0,88934.0,DebtCon,Other,15.0,0.0,0.0,219.601002,0.0,16.0,34.571519

In [5]:
data.shape

(5960, 13)

In [6]:
data.isnull().sum()

BAD           0
LOAN          0
MORTDUE     518
VALUE       112
REASON      252
JOB         279
YOJ         515
DEROG       708
DELINQ      580
CLAGE       308
NINQ        510
CLNO        222
DEBTINC    1267
dtype: int64

In [11]:
M = data['MORTDUE'].mean()
M

73760.81719955898

In [12]:
data['MORTDUE'].fillna(value=M,inplace=True)

In [13]:
M1 = data['VALUE'].mean()
M1

101776.04874145007

In [16]:
data['VALUE'].fillna(value=M1,inplace=True)

In [19]:
M2 = data['YOJ'].mean()
M2

8.922268135904508

In [20]:
data['YOJ'].fillna(value=M2,inplace=True)

In [26]:
M3 = data['DEROG'].mean()
M3

159.0491610738255

In [27]:
data['DEROG'].fillna(value=M3,inplace=True)

In [28]:
M4 = data['DELINQ'].mean()
M4

0.4494423791821561

In [29]:
data['DELINQ'].fillna(value=M4,inplace=True)

In [30]:
M5 = data['CLAGE'].mean()
M5

179.76627518656667

In [31]:
data['CLAGE'].fillna(value=M5,inplace=True)

In [32]:
M6 = data['NINQ'].mean()
M6

1.1860550458715597

In [33]:
data['NINQ'].fillna(value=M6,inplace=True)

In [34]:
M7 = data['CLNO'].mean()
M7

21.29609620076682

In [35]:
data['CLNO'].fillna(value=M7,inplace=True)

In [36]:
M8 = data['DEBTINC'].mean()
M8

33.779915348721225

In [37]:
data['DEBTINC'].fillna(value=M8,inplace=True)

In [38]:
data.isnull().sum()

BAD          0
LOAN         0
MORTDUE      0
VALUE        0
REASON     252
JOB        279
YOJ          0
DEROG        0
DELINQ       0
CLAGE        0
NINQ         0
CLNO         0
DEBTINC      0
dtype: int64

In [39]:
data['REASON'].fillna(value='FILL_VALUE',inplace=True)

In [40]:
data['JOB'].fillna(value='FILL_VALUE',inplace=True)

In [41]:
from sklearn.preprocessing import LabelEncoder

In [42]:
enc = LabelEncoder()

In [43]:
data.REASON = enc.fit_transform(data.REASON)

In [44]:
data.JOB = enc.fit_transform(data.JOB)

In [46]:
data.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0000,39025,2,3,10.500000,0.0,0.000000,94.366667,1.000000,9.000000,33.779915
1,1,1300,70053.0000,68400,2,3,7.000000,0.0,2.000000,121.833333,0.000000,14.000000,33.779915
2,1,1500,13500.0000,16700,2,3,4.000000,0.0,0.000000,149.466667,1.000000,10.000000,33.779915
3,1,1500,73760.8172,True,1,0,8.922268,1337.0,0.449442,179.766275,1.186055,21.296096,33.779915
4,0,1700,97800.0000,112000,2,2,3.000000,0.0,0.000000,93.333333,0.000000,14.000000,33.779915

In [49]:
M9 = data['REASON'].mean()
M9

0.6395973154362417

In [50]:
data['REASON'].fillna(value=M9,inplace=True)

In [51]:
M10 = data['JOB'].mean()
M10

2.790939597315436

In [52]:
data['JOB'].fillna(value=M10,inplace=True)

In [53]:
data

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0000,39025,2,3,10.500000,0.0,0.000000,94.366667,1.000000,9.000000,33.779915
1,1,1300,70053.0000,68400,2,3,7.000000,0.0,2.000000,121.833333,0.000000,14.000000,33.779915
2,1,1500,13500.0000,16700,2,3,4.000000,0.0,0.000000,149.466667,1.000000,10.000000,33.779915
3,1,1500,73760.8172,True,1,0,8.922268,1337.0,0.449442,179.766275,1.186055,21.296096,33.779915
4,0,1700,97800.0000,112000,2,2,3.000000,0.0,0.000000,93.333333,0.000000,14.000000,33.779915
5,1,1700,30548.0000,40320,2,3,9.000000,0.0,0.000000,101.466002,1.000000,8.000000,37.113614
6,1,1800,48649.0000,57037,2,3,5.000000,3.0,2.000000,77.100000,1.000000,17.000000,33.779915
7,1,1800,28502.0000,43034,2,3,11.000000,0.0,0.000000,88.766030,0.000000,8.000000,36.884894
8,1,2000,32700.0000,46740,2,3,3.000000,0.0,2.000000,216.933333,1.000000,12.000000,33.779915
9,1,2000,73760.8172,62250,2,5,16.000000,0.0,0.000000,115.800000,0.000000,13.000000,33.779915
10,1,2000,22608.0000,True,1,0,18.000000,1337.0,0.449442,179.766275,1.186055,21.296096,33.779915
11,1,2000,20627.0000,29800,2,2,11.000000,0.0,1.000000,122.533333,1.000000,9.000000,33.779915
12,1,2000,45000.0000,55000,2,3,3.000000,0.0,0.000000,86.066667,2.000000,25.000000,33.779915
13,0,2000,64536.0000,87400,1,1,2.500000,0.0,0.000000,147.133333,0.000000,24.000000,33.779915
14,1,2100,71000.0000,83850,2,3,8.000000,0.0,1.000000,123.000000,0.000000,16.000000,33.779915
15,1,2200,24280.0000,34687,2,3,8.922268,0.0,1.000000,300.866667,0.000000,8.000000,33.779915
16,1,2200,90957.0000,102600,2,1,7.000000,2.0,6.000000,122.900000,1.000000,22.000000,33.779915
17,1,2200,23030.0000,True,1,0,19.000000,1337.0,0.449442,179.766275,1.186055,21.296096,3.711312
18,1,2300,28192.0000,40150,2,3,4.500000,0.0,0.000000,54.600000,1.000000,16.000000,33.779915
19,0,2300,102370.0000,120953,2,2,2.000000,0.0,0.000000,90.992533,0.000000,13.000000,31.588503
20,1,2300,37626.0000,46200,2,3,3.000000,0.0,1.000000,122.266667,1.000000,14.000000,33.779915
21,1,2400,50000.0000,73395,2,4,5.000000,1.0,0.000000,179.766275,1.000000,0.000000,33.779915
22,1,2400,28000.0000,40800,2,1,12.000000,0.0,0.000000,67.200000,2.000000,22.000000,33.779915
23,1,2400,18000.0000,True,2,1,22.000000,1337.0,2.000000,121.733333,0.000000,10.000000,33.779915
24,1,2400,73760.8172,17180,2,3,8.922268,0.0,0.000000,14.566667,3.000000,4.000000,33.779915
25,1,2400,34863.0000,47471,2,1,12.000000,0.0,0.000000,70.491080,1.000000,21.000000,38.263601
26,0,2400,98449.0000,117195,2,2,4.000000,0.0,0.000000,93.811775,0.000000,13.000000,29.681827
27,1,2500,15000.0000,20200,2,0,18.000000,0.0,0.000000,136.066667,1.000000,19.000000,33.779915
28,1,2500,25116.0000,36350,2,3,10.000000,1.0,2.000000,276.966667,0.000000,9.000000,33.779915
29,0,2500,7229.0000,44516,2,6,8.922268,0.0,0.000000,208.000000,0.000000,12.000000,33.779915
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,1,72300,73760.8172,85000,0,3,1.000000,0.0,0.000000,117.166667,9.000000,23.000000,33.779915
5931,1,75400,73760.8172,89609,0,3,1.000000,0.0,0.000000,115.763534,9.000000,23.000000,41.105569
5932,1,76500,38206.0000,90000,0,3,12.000000,0.0,0.000000,134.900000,0.000000,26.000000,33.779915
5933,1,77200,83962.0000,215000,2,6,8.000000,1.0,2.000000,71.533132,3.000000,14.000000,33.779915
5934,1,77400,87651.0000,224630,2,6,9.000000,0.0,2.000000,73.469630,3.000000,13.000000,40.929793
5935,0,78400,13900.0000,102910,2,0,27.000000,0.0,1.000000,138.000000,0.000000,14.000000,33.779915
5936,0,78700,22762.0000,102997,2,0,25.000000,0.0,0.000000,146.632842,0.000000,13.000000,34.300202
5937,0,79100,23553.0000,103807,2,0,25.000000,0.0,1.000000,142.193458,0.000000,13.000000,31.469937
5938,0,79200,21694.0000,103143,2,0,26.000000,0.0,1.000000,139.938999,0.000000,14.000000,31.333685
5939,0,79200,22940.0000,110114,2,0,28.000000,0.0,1.000000,144.616126,0.000000,13.000000,32.366512
5940,0,79900,18363.0000,109675,2,0,27.000000,0.0,1.000000,132.766724,0.000000,13.000000,31.642335
5941,0,80300,20370.0000,109127,2,0,27.000000,0.0,1.000000,142.174300,0.000000,13.000000,33.468763
5942,0,80600,16337.0000,109370,2,0,28.000000,0.0,0.000000,137.439991,0.000000,14.000000,34.202005
5943,0,81200,18834.0000,108355,2,0,28.000000,0.0,0.000000,139.136329,0.000000,14.000000,34.042153
5944,0,81400,22344.0000,108280,2,0,25.000000,0.0,0.000000,148.114994,0.000000,14.000000,34.285741
5945,0,81400,21041.0000,111304,2,0,26.000000,0.0,0.000000,146.322783,0.000000,14.000000,32.131373
5946,0,82200,16097.0000,111287,2,0,26.000000,0.0,0.000000,142.119979,0.000000,14.000000,31.743472
5947,0,82200,23197.0000,110481,2,0,26.000000,0.0,1.000000,127.767588,0.000000,14.000000,30.942695
5948,0,86000,47355.0000,85000,0,3,15.000000,0.0,0.000000,210.966667,0.000000,16.000000,33.779915
5949,0,87000,48980.0000,89764,0,3,14.000000,0.0,0.000000,209.043117,0.000000,16.000000,36.088037
5950,0,87500,55938.0000,86794,0,3,15.000000,0.0,0.000000,223.881040,0.000000,16.000000,36.753653
5951,0,88300,54004.0000,94838,0,3,16.000000,0.0,0.000000,193.702051,0.000000,15.000000,36.262691
5952,0,88500,50240.0000,94687,0,3,16.000000,0.0,0.000000,214.426206,0.000000,16.000000,34.751158
5953,0,88800,53307.0000,94058,0,3,16.000000,0.0,0.000000,218.304978,0.000000,15.000000,34.242465
5954,0,88900,48919.0000,93371,0,3,15.000000,0.0,1.000000,205.650159,0.000000,15.000000,34.818262
5955,0,88900,57264.0000,90185,0,3,16.000000,0.0,0.000000,221.808718,0.000000,16.000000,36.112347
5956,0,89000,54576.0000,92937,0,3,16.000000,0.0,0.000000,208.692070,0.000000,15.000000,35.859971
5957,0,89200,54045.0000,92924,0,3,15.000000,0.0,0.000000,212.279697,0.000000,15.000000,35.556590
5958,0,89800,50370.0000,91861,0,3,14.000000,0.0,0.000000,213.892709,0.000000,16.000000,34.340882
5959,0,89900,48811.0000,88934,0,3,15.000000,0.0,0.000000,219.601002,0.000000,16.000000,34.571519

In [54]:
data.isnull().sum()

BAD        0
LOAN       0
MORTDUE    0
VALUE      0
REASON     0
JOB        0
YOJ        0
DEROG      0
DELINQ     0
CLAGE      0
NINQ       0
CLNO       0
DEBTINC    0
dtype: int64

In [55]:
data.shape

(5960, 13)

In [56]:
data.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0000,39025,2,3,10.500000,0.0,0.000000,94.366667,1.000000,9.000000,33.779915
1,1,1300,70053.0000,68400,2,3,7.000000,0.0,2.000000,121.833333,0.000000,14.000000,33.779915
2,1,1500,13500.0000,16700,2,3,4.000000,0.0,0.000000,149.466667,1.000000,10.000000,33.779915
3,1,1500,73760.8172,True,1,0,8.922268,1337.0,0.449442,179.766275,1.186055,21.296096,33.779915
4,0,1700,97800.0000,112000,2,2,3.000000,0.0,0.000000,93.333333,0.000000,14.000000,33.779915

In [57]:
y = data.BAD
X = data.iloc[:,1:]

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=80)

In [60]:
from sklearn.tree import DecisionTreeClassifier

In [61]:
model = DecisionTreeClassifier()

In [62]:
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [63]:
X_train.head()

,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
2270,13900,64356.0,88028,0,2,13.0,0.0,0.000000,111.809975,0.000000,24.000000,39.008508
2073,13100,64897.0,81598,0,5,7.0,0.0,0.000000,130.648468,0.000000,34.000000,26.500105
2409,14500,67956.0,80318,0,3,1.0,0.0,0.000000,233.397273,2.000000,26.000000,31.316415
5306,29500,48590.0,81354,0,2,0.0,0.0,0.000000,157.026326,3.000000,18.000000,40.170618
2426,14600,59658.0,80384,0,0,8.0,1337.0,0.449442,179.766275,1.186055,21.296096,25.192869

In [64]:
y_train.head()

2270    0
2073    0
2409    0
5306    0
2426    0
Name: BAD, dtype: int64

In [66]:
predict = model.predict(X_test)

In [67]:
y_test

2721    0
2636    0
3086    1
2199    0
4164    0
3107    0
4173    0
5350    0
1983    0
1949    0
5803    1
943     0
2410    1
3078    0
5158    0
4262    0
2014    0
4659    0
1046    0
208     0
2202    1
4428    1
5041    0
3941    1
3701    0
3174    0
5543    0
2260    1
112     0
2495    0
       ..
5745    0
3422    1
4356    0
5423    0
1367    0
476     0
4214    0
678     1
5446    1
784     0
4508    0
5723    1
5732    0
2858    0
514     0
2686    0
2119    0
1947    0
4910    0
5806    0
5217    0
2149    0
1639    0
4220    0
4749    1
4457    1
3378    0
4232    0
5708    1
3713    1
Name: BAD, Length: 1490, dtype: int64

In [68]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [69]:
accuracy_score(y_test,predict)

0.8751677852348994

In [70]:
confusion_matrix(y_test,predict)

array([[1090,   95],
       [  91,  214]], dtype=int64)

In [ ]:
print(classification_report(y_test,predi))